* {
    font-family: "Inter", sans-serif;
}

.container {
    margin: 5% 10%;
    box-shadow: 0px 0px 10px 15px rgb(230,230,230);
    padding: 25px 80px;
    padding-bottom: 100px;
    border-radius: 20px;
}

.container h2 {
    font-size: 50px;
    font-weight: 800;
}

.register-detail {
    background-color: rgb(243,243,243);
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    padding-bottom: 40px;
    height: 100vh;
    justify-content: space-evenly;
    border-radius: 20px;
    gap: 20px;
}

.register-detail h4 {
    font-size: 40px;
    margin: 30px 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.name-age-input {
    display: flex;
    justify-content: space-between;
}

.tb-name, .tb-age {
    height: 55px;
    width: 43%;
    padding: 0px 20px;
    font-size: 18px;
    border: none;
}

.tb-input {
    height: 55px;
    padding: 0px 20px;
    font-size: 18px;
    border: none;
}

.button-upload {
    align-self: start;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background-color: white;
    font-weight: 800;
}

.button-register {
    align-self: end;
    font-size: 23px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    background-color: white;
    font-weight: 800;
}

.label-error {
    margin-top: 5px;
    margin-left: 20px;
    color: red;
    font-weight: 600;
    font-size: 20px;
}

.button-back {
    background-color: white;
    font-weight: 700;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px;
}

